{extend name="base/base" /}
{block name="main"}
<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">发表文章<!-- 编辑帖子 --></li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="{:url('/admin/addBlog')}" method="post" id="form">
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">所在专栏</label>
                                    <div class="layui-input-block">
                                        {form:select name="class_id" list="$class_list" value="$data['class_id']"}
                                    </div>
                                </div>
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md12">
                                    <label for="L_title" class="layui-form-label">简介</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="desc" name="desc" autocomplete="off" lay-verify="required" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="content"  placeholder="详细描述" lay-verify="content" class="layui-textarea fly-editor" style="height: 260px;" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit lay-filter="*" >立即发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['layedit','form','jquery'], function(){
         var layedit = layui.layedit, form = layui.form,$=layui.jquery;
        index=layedit.build('L_content', {
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                ,'image' //插入图片
                ,'code' //代码
            ]
        }); //建立编辑器
        form.verify({
            content: function (value) {
                value = $.trim(layedit.getText(index));
                if (value == "") return "内容不能为空";
                layedit.sync(index);
            }
        });
        form.on('submit(*)', function(data){
            console.log(data.field)
            data.field.content=layedit.getContent(index)
            $.post("{:url('/admin/addBlog')}",data.field,function (msg) {
                layer.msg(msg.msg, {time: 1500}, function () {   //提示的插件，可以使用alert代替
               if (msg.code) {
                   setTimeout(function () {
                       //刷新父页面
                       parent.location.reload();
                   }, 500);
               }
           });
            },'json');
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}