{extend name="base/base" /}
{block name="main"}
<div style="margin: 5px 10px">
    <form action="{:url('/admin/addBlog')}" class="layui-form layui-form-pane" method="post" id="form">
        <div class="layui-row layui-col-space15 layui-form-item">
            <div class="layui-col-md3">
                <label class="layui-form-label">所在专栏</label>
                <div class="layui-input-block">
                    {form:select name="class_id" list="$class_list" value="$data['class_id']"}
                </div>
            </div>
            <div class="layui-col-md3">
                <label for="L_title" class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="{:isset($data.title)?$data.title:''}">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15 layui-form-item">
            <div class="layui-col-md6">
                <label for="L_title" class="layui-form-label">封面</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="uploadImg">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <input type="hidden" id="img" name="img" required lay-verify="required" autocomplete="off" class="layui-input" value="{:isset($data.img)?$data.img:''}">
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15 layui-form-item">
            <div class="layui-col-md6">
                <label for="L_title" class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <input type="text" id="desc" name="desc" autocomplete="off" lay-verify="required" class="layui-input" value="{:isset($data.desc)?$data.desc:''}">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-block">
                <textarea id="L_content" name="content"  placeholder="详细描述" lay-verify="content" class="layui-textarea fly-editor" style="height: 260px;" >{:isset($data.content)?$data.content:''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <input type="hidden"  name="id"  value="{:isset($data.id)?$data.id:''}">
            <button class="layui-btn" lay-submit lay-filter="*" >立即发布</button>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['layedit','form','jquery','upload'], function(){
         var layedit = layui.layedit, form = layui.form,$=layui.jquery,upload = layui.upload;
        layedit.set({
            uploadImage: {
                url: "{:url('/admin/upload/upload')}" //接口url
                ,type: 'post' //默认post
            }
        });
        index=layedit.build('L_content', {
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                ,'image' //插入图片
                ,'code' //代码
            ]
        }); //建立编辑器
        //图片上传
        var uploadInst = upload.render({
            elem: '#uploadImg' //绑定元素
            ,url: "{:url('/admin/upload/upload')}" //上传接口
            ,accept:'images'
            ,acceptMime:'image/*'
            ,done: function(data){
                var icon=5;
                if(!data.code){
                    icon=6;
                }
                layer.msg(data.msg, {icon:icon,time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if(!data.code){
                        $('#img').val(data.data.src)
                    }
                });
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
        //表单验证
        form.verify({
            content: function (value) {
                value = $.trim(layedit.getContent(index));
                if (value == "") return "内容不能为空";
                layedit.sync(index);
            }
        });
        //表单提交
        form.on('submit(*)', function(data){
            // console.log(data.field)
            $.post("{:url('/admin/addBlog')}",data.field,function (msg) {
                layer.msg(msg.msg, {time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (msg.code) {
                       setTimeout(function () {
                           //刷新父页面
                           parent.location.reload();
                       }, 500);
                    }
                });
            },'json');
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
{/block}