{extend name="base/base" /}
{block name="main"}
<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">发表文章<!-- 编辑帖子 --></li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="{:url('/admin/addBlog')}" method="post" id="form">
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">所在专栏</label>
                                    <div class="layui-input-block">
                                        {form:select name="class_id" list="$class_list" value="$data['class_id']"}
                                    </div>
                                </div>
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" required  autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md12">
                                    <label for="L_title" class="layui-form-label">简介</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="desc" name="desc" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="content"  placeholder="详细描述" class="layui-textarea fly-editor" style="height: 260px;" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn ispost" >立即发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
{js href="/js/jquery.min.js" /}
{js href="/js/Validform_v5.3.2_min.js" /}
<script>
    layui.use(['layedit','form'], function(){
        var layedit = layui.layedit;
        var form = layui.form;
        layedit.build('L_content', {
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'link' //超链接
                ,'unlink' //清除链接
                ,'face' //表情
                ,'image' //插入图片
                ,'code' //代码
            ]
        }); //建立编辑器
    });

//    $("#form").Validform({
//        ajaxPost:true,
//        tiptype:function (msg,o,cssctl) {
//            if(o.type==3 && msg!='所填信息没有经过验证，请稍后…'){
//                layer.msg(msg, {time: 1500});//验证错误的提示
//            }
//        },
//        callback:function(data){     //ajax提交后的返回调用方法（相当于ajax里面的success那个方法）
//            layer.msg(data.msg, {time: 1500}, function () {   //提示的插件，可以使用alert代替
//                if (data.code) {
//                    setTimeout(function () {
//                        //刷新父页面
//                        parent.location.reload();
//                    }, 500);
//                }else{
//                    $('#token').val(data.data.token);
//                }
//            });
//        }
//    });
</script>
{/block}